body {
  margin:0px;
  font-family:sans-serif;
  background:linear-gradient(0deg,#f6f6f6 95%,#ffffff 100%);
}

body :link {
  text-decoration:none;
}

#header {
  margin-left:175px;
  font-size:13px;

  color:blue;
  margin-top:10px;
}

.headerlist {
  list-style-type:none;
  margin:0;
  margin-left:645px;
}

.grey {
  color:grey;
}

.headerlist li {
  display:inline;
  padding-right:5px;
}

.entetegauche {
  margin-top:20px;
  float:left;
}

.enttgaucheA {
  float:left;
  padding-left:5px;
  padding-right:5px;
  border-right:0.5px solid #a7d7f9;
  border-left:0.5px solid #a7d7f9;
  padding-bottom:5px;
  color:black;
  background-color:white;
}

.enttgaucheB {
  float:right;
  padding:0px 5px 4px 5px;
  border-right:0.5px solid #a7d7f9;
  border-bottom:0.5px solid #a7d7f9;
  border-left:0.5px solid #a7d7f9;
}

.entetedroite {
  float:left;
  margin-top:20px;
  margin-left:375px;
}

.entetedroite li{
  padding-left:4px;
  padding-right:6px;
  padding-bottom:5px;
  padding-top:7px;
  display:inline;
  border-right:0.3px solid #a7d7f9;
  border-bottom:0.3px solid white;
}

.entetedroite li:first-child {
  padding-bottom:4px;
  border-left:0.3px solid #a7d7f9;
  background-color:white;
  color:black;
}

.tabindex {
  width:300px;
  height:25px;
  margin-top:27px;
  margin-right:20px;
  float:right;
}

.gauche {
  position:absolute;
  margin-top:0px;
  height:3000px;
  width:175px;
}

.gauche img {
  height:150px;
  margin:0px;
  margin-left:20px;
  margin-top:-20px;
}

.gauche1 h3 {
  font-size:12px;
  margin-left:20px;
  border-top:1px solid grey;
  padding-top:10px;
  width:130px;
  color:grey;
  font-weight:normal;
}

.gauche1 {
  line-height:13px;
}

.gauche2 {
  margin-top:30px;
  line-height:15px;
}

.gauche2 li {
  list-style-type:none;
  font-size:12px;
  color:blue;
  padding-bottom:3px;
  margin-left:-17px;
}

.gauche ul {
  margin:0px;
}

.gauche1 li {
  list-style-type:none;
  font-size:12px;
  color:blue;
  padding-bottom:4px;
}

h1 {
  margin-top:30px;
  font-size:30px;
  font-family:times;
  font-weight:normal;
  margin-bottom:0;
  padding-bottom:10px;
}

.emmerich {
  height:15px;
  border-top:0.5px solid grey;
  border-bottom:0.5px solid grey;
  padding:11px 0px 13px 30px;
  margin:0;
  font-size:14px;
  font-style:italic;
}

.txt1 {
  float:left;
}

.txt1 p {
  width:820px;
}

.corp {
  margin-top:53px;
  margin-left:175px;
  border:1px solid #a7d7f9;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  height:3000px;
  font-size:14px;
  line-height:22px;
  background-color:white;
}

.tableotac {
  width:300px;
  float:right;
  border:1px solid black;
  padding:3px;
  margin-top:10px;
  height:340px;
  background-color:#f6f6f6;
}

.entttabl {
  padding:10px;
  text-align:center;
  font-weight:bold;
  background-color:#008DC9;
  color:#000000;

}

.tabl {
  font-size:14px;
  float:left;
  font-weight:bold;
}

.tableotac td {
  font-size:14px;
}

.trait {
  height:3px;
  background-color:#008DC9;
  color:#008DC9;
}

.sommaire {
  border:1px solid grey;
  margin-top:350px;
  width:270px;
  height:230px;
  padding:0px;
  margin-bottom:30px;
  background-color:#f6f6f6;
}

.sommaire h2 {
  margin-top:10px;
  text-align:center;
  font-size:14px;
}

.listesommaire {
  font-size:13px;
  padding:0px;
  padding-left:10px;
}

.listesommaire li {
  list-style:none;
  color:blue;
  line-height:22px;
}

h2 .blue {
  color:blue;
  font-size:12px;
  font-weight:normal;
}

.bio {
  font-family:georgia;
  font-size:18px;
  font-weight:normal;
  border-bottom:1px solid grey;
  padding-bottom:2px;
}

.bio2 {
  font-family:georgia;
  font-size:18px;
  font-weight:normal;
  border-bottom:1px solid grey;
  margin-bottom:0px;
}

.paragraphe h2 {
  font-size:18px;
  border-bottom:1px dotted grey;
}

.references {
  font-size:12px;
  margin:5px 0px 2px 20px;
}

.snake {
  font-size:12px;
  border:0.5px solid grey;
  background-color:#F9F9F9;
  padding:2px;
}

.metalg {
  font-size:14px;
}

.metalgauche {
  float:left;
  margin-left:10px;
  font-size:10px;
  line-height:1.6;
}

.metalgdroite {
  float:right;
  font-size:10px;
  margin-right:10px;
  line-height:1.6;
}

.titretableau {
  background-color:#DDDDFF;
  text-align:center;
  font-weight:bold;
  width:180px;
}

.nomstable {
  background-color:#DDDDFF;
  padding:0em 1em 0em 1em;
}

.tabledanstable {
  padding:0px;
}

.headtableau {
  background-color:#CCCCFF;
}

.contenutable1 {
  font-style:italic;
}

.contenutable2 {
  background-color:#EEEEFF;
}

.game {
  text-align:center;
  background-color:#F9F9F9;
  border:1px solid black;
  height:35px;
}

.game img {
  margin-right:300px;
}

.game h3 {

}
